<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<section class="dashboard-show">

  <header class="page-header">
  <h1>Dashboard</h1>
  </header>

  <div>
    <h2>Number of items in the database: </h2>
      <h4>
        <%= Product.count %>
      </h4>
    <h2>Number of categories in the database: </h2>
      <h4>
        <%= Category.count %>
      </h4>
  </div>

</section>