<h1>Admin &raquo; Categories</h1>

<div class="well">
<%= link_to '+ Category', [:new, :admin, :category], class: 'btn btn-info' %>
</div>

<div class="panel panel-default products">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories%>
  </tbody>
</table>

</div>